 <nav>
    <div class="logo">
      <a href="/"><h1>Monsters A</h1></a>
    </div>
    <ul>
      <l1><a class="create-title hover-1" href="/create"><span class="create-word">create</span> <span class="gradient">MONSTER</span></a></l1>
    </ul>
  </nav>